body {
  text-align: center;
  background-color: #eceef1;
  font-family: 'Roboto', sans-serif;
}

.form-section {
  background-color: white;
  margin: 10px auto 0 auto;
  padding: 20px;
  display: block;
  background-origin: padding-box;
  border: #c7c7c7 1px solid;
  width: 350px;
  text-align: left;
  border-bottom: 0;
}

.singin-button {
  font-size: 12px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.signin-info {
  display: block;
  line-height: 0.3;
  padding-right: 5px;
}

.signin-info p {
  margin-top: 7px;
}

.center-text {
  text-align: center;
}

.form-label {
  display: block;
  margin-top: 20px;
  margin-left: 25px;
}

.call-warn {
  font-size: 10px;
  margin-left: 25px;
}

.sign-in-button {
  text-align: center;
  font-size: 12px;
  height: 35px;
  width: 100px;
  margin-right: 30px;
  background-color: #0077c5;
  color: white;
  border-radius: 4px;
  border: #0077c5 1px solid;
}

.sign-in-button:hover {
  cursor: pointer;
}

.create-account-button {
  width: 300px;
  padding: 10px;
  background-color: #0077c5;
  border-radius: 4px;
  border: #0077c5 1px solid;
  color: white;
  margin: 25px;
}

.create-account-button:hover {
  cursor: pointer;
}

.form-input {
  width: 300px;
  margin: 0 25px 0 25px;
  border: #c1c5c8 1px solid;
  border-radius: 2px;
  height: 30px;
  margin-top: 5px;
}

.sub-text {
  text-align: center;
  padding: 30px;
  font-size: 12px;
  color: #4c4c4c;
}

.signin-logo {
  height: 1em;
}

#password-input {
  background: url(img/passwordicon.png) no-repeat;
  background-position-x: 275px;
  background-size: 25px 25px;
  background-position-y: 2px;
}

.reCaptcha {
  font-size: 10px;
  text-align: center;
  background-color: #eceef1;
  border: #c7c7c7 1px solid;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-top: 0;
  padding-top: 20px;
  color: #4c4c4c;
}

footer {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #505050;
}

a {
  color: #0077c5;
  text-decoration: none;
}

.links > a {
  text-decoration: none;
  color: #505050;
}
