body
{
    text-align: center;
    background-color: #eceef1;
}
.form-section
{
    background-color:white;
    margin: 100px auto auto auto;
    padding: 20px;
    display: block;
    background-origin: padding-box;
    border: black 2px solid;
    width: 200px;
    text-align: left;

}


.singin-button
{
   text-align: right;
}

.center-text
{
    text-align: center;
}
.sign-in-button
{
    text-align: right;
    height: 35px;
    width: 100px;
    margin-right:30px;
    background-color: #0077c5;
    color: white;
    border-radius: 4px;
    border: black 1px solid;
}
.create-account-button
{
    background-color: #0077c5;
    border-radius: 4px;
    border: black 1px solid;
    color: white;
    margin: 10px 0px 0px 40px;
}
